.root {
    -fx-background-color: #1f1f1f;
    -fx-text-fill: white;
}

.button {
    -fx-base: #333;
    -fx-font-size: 15px;
}

.text-field {
    -fx-base: #000;
    -fx-text-fill: white; /* Set text color to black */
    -fx-min-width: 30px;
    -fx-font-size: 15px;
}

.choice-box {
    -fx-base: #333;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-border-color: #333;
    -fx-border-width: 1px;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 15px;
}